@import "colors.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "SF Pro Display", 'JetBrainsMono Nerd Font Mono';
  border-radius: 10px;
  font-size: 10px;

  min-height: 0;
  margin: 0;
  padding: 0;
}

window#waybar {
  background-color: rgba(43, 48, 59, 0.5);
  color: #ffd0d0;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3F3F3F;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
}


#workspaces button {
  padding: 0 5px;
  margin: 2px;
  border-radius: 10px;
  background-color: rgba(140, 110, 80, 0.1);
  color: #ffffff;
  transition: all ease-in-out 250ms;
}

#workspaces button:hover {
  background-color: rgba(140, 110, 80, 0.45);
  transition: all ease-in-out 250ms;
}

#workspaces button.focused,
#workspaces button.active {
  background-color: @primary;
  padding: 0 15px;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}


#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#wireplumber {
  padding: 0 5px;
  color: #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}


label:focus {
  background-color: #000000;
}

#network {
  background-color: rgba(41, 128, 185, 0.6);
}

#network.disconnected {
  background-color: rgba(41, 128, 185, 0.05);
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
  background-color: rgba(170, 125, 80, 0.15);
}

#pulseaudio.muted {
  opacity: 0.2;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: #f53c3c;
}
